<%- include('layout', { title: 'Home', body: `
  <div id="pic-div">
    <img id="profile-pic" src="/images/PP.png" alt="image">
  </div>
  <div class="text-center">
    <h1 class="display-4">Welcome to My Portfolio</h1>
    <p class="lead">I’m a passionate web developer.</p>
    <a class="btn btn-primary btn-lg" href="/portfolio" role="button">View My Work</a>
  </div>
` }) %>
